<h1>HD classic API</h1>
<h2> buttons </h2>
<section>
  <button class="hd-s hd-primary"> Submit</button>
  <button class="hd-m hd-primary"> Submit</button>
  <button class="hd-l hd-primary"> Submit</button>
</section>
<section>
  <button class="hd-s hd-neutral"> Submit</button>
  <button class="hd-m hd-neutral"> Submit</button>
  <button class="hd-l hd-neutral"> Submit</button>
</section>
<h2> Tags </h2>
<span class="hd-tag"> A small Tag</span>

<h2> Input </h2>
<input placeholder="Type something"/>

<h2> selector </h2>
<select name="selector" id="selector-1">
  <option value="" disabled selected>Please choose an option</option>
  <option value="1">first value</option>
  <option value="2">second value</option>
  <option value="3">third value</option>
</select>
